body {
background-color: rgba(0, 0, 0, .9);
color: #f5f5f5;
font-family: monospace;
font-size:large;
}
header {
    text-align: center;
}
span {
    display: inline-block;
}
.content-hidden {
    display: none;
  }
.napi-pic {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

a:link, a:visited {
    color: #c800ff;
    text-decoration: none;
    cursor:pointer;
  }
  
a:link:active, a:visited:active {
    color: #ff0080;
  }
footer {
    text-align: center;
}